MYSQL_DSN=root:password@tcp(host.docker.internal:3306)/one_proxy?charset=utf8mb4&parseTime=true&loc=Asia%2FShanghai
JWT_SIGNING_KEY=change-me
BOOTSTRAP_TOKEN_TTL=15m
NODE_CERT_TTL=720h
PUBLIC_CERT_RENEW_WINDOW=168h
SCHEDULER_INTERVAL=1m
SESSION_TTL=12h
NODE_HEARTBEAT_TTL=2m
PUBLIC_CERT_PROVIDER=lets_encrypt
PORT=2886
TZ=Asia/Shanghai
